absl-py==1.4.0
accelerate==0.23.0
aiohttp==3.11.0b0
aiosignal==1.3.1
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
arrow==1.2.3
async-timeout==4.0.2
attrs==23.1.0
av==9.2.0
beautifulsoup4==4.12.2
blessed==1.20.0
boltons==23.0.0
cachetools==5.3.1
certifi==2024.7.4
cffi==1.15.1
charset-normalizer==3.2.0
clean-fid==0.1.35
click==8.1.6
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
clip-anytorch==2.5.2
cmake==3.27.0
croniter==1.3.15
datasets==2.14.5
dateutils==0.6.12
deepdiff==6.3.1
diffusers==0.21.1
dill==0.3.7
docker-pycreds==0.4.0
einops==0.6.1
exceptiongroup==1.1.2
expecttest==0.1.6
fastapi==0.100.1
filelock==3.12.2
frozenlist==1.4.0
fsspec==2023.6.0
ftfy==6.1.1
gitdb==4.0.10
GitPython==3.1.36
google-auth==2.22.0
google-auth-oauthlib==0.4.6
grpcio==1.56.2
h11==0.16.0
huggingface-hub==0.17.1
idna==3.7
imageio==2.31.3
importlib-metadata==6.8.0
importlib-resources==6.0.1
inquirer==3.1.3
intel-openmp==2023.2.0
itsdangerous==2.1.2
Jinja2==3.1.6
jsonmerge==1.9.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
k-diffusion @ git+https://github.com/crowsonkb/k-diffusion.git@ab527a9a6d347f364e3d185ba6d714e22d80cb3c
kornia==0.7.0
lazy_loader==0.3
lightning==2.3.3
lightning-cloud==0.5.37
lightning-habana==1.0.0
lightning-utilities==0.9.0
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
mkl==2023.1.0
mkl-include==2023.1.0
mpi4py==3.1.4
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
networkx==3.1
ninja==1.11.1
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.3.0
ordered-set==4.1.0
packaging==23.1
pandas==2.0.1
pathspec==0.11.2
pathtools==0.1.2
perfetto==0.7.0
Pillow==10.3.0
pkgutil_resolve_name==1.3.10
protobuf==3.20.3
psutil==5.9.5
pyarrow==14.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.10.4
pycparser==2.21
pydantic==2.4.0
pydantic_core==2.4.0
Pygments==2.15.1
PyJWT==2.8.0
pynvml==8.0.4
python-dateutil==2.8.2
python-editor==1.0.4
python-multipart==0.0.18
pytorch-lightning==2.4.0
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
readchar==4.0.5
referencing==0.30.2
regex==2023.5.5
requests==2.32.2
requests-oauthlib==1.3.1
resize-right==0.0.2
rich==13.5.2
rpds-py==0.10.3
rsa==4.9
safetensors==0.3.3
scikit-image==0.21.0
scipy==1.10.1
sentry-sdk==2.8.0
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
starlette==0.40.0
starsessions==1.3.0
sympy==1.12
taming-transformers @ git+https://github.com/CompVis/taming-transformers.git@3ba01b241669f5ade541ce990f7650a3b8f65318
taming-transformers-rom1504==0.0.6
tbb==2021.10.0
tdqm==0.0.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tifffile==2023.7.10
tokenizers==0.13.3
torchdiffeq==0.2.3
torchmetrics==1.0.2
torchsde
tqdm==4.66.3
traitlets==5.9.0
trampoline==0.1.2
transformers==4.50.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.19
uvicorn==0.23.2
wandb==0.15.10
wcwidth==0.2.6
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==3.0.6
xxhash==3.3.0
yamllint==1.32.0
yarl==1.9.2
zipp==3.19.1
