bitsandbytes==0.44.1
deepspeed==0.16.0
einops-exts==0.0.4
gradio==5.11.0
markdown2==2.5.1
peft==0.13.2
pip==24.3.1
scikit-learn==1.5.2
sentencepiece==0.2.0
shortuuid==1.0.13
spacy==3.8.2
tensorboard==2.18.0
timm==1.0.11
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
flash-attn==2.7.0.post2


openai==1.56.0
azure-identity==1.19.0 