torch
torchvision
tokenizers
sentencepiece
shortuuid
accelerate
bitsandbytes
pydantic
markdown2
numpy
scikit-learn
requests
protobuf
einops
einops-exts
timm
peft
deepspeed@git+https://github.com/HabanaAI/deepspeed.git@1.16.0
optimum-habana@git+https://github.com/huggingface/optimum-habana.git@v1.12.1